In [11]:
import numpy as np

from pandas import Series,DataFrame

import pandas as pd

from numpy.random import randn

In [12]:
ser = Series([1,2,3,6], index=['A','B','C','D'])

In [4]:
index = ser.index

In [5]:
index

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [7]:
index[3]

'D'

In [8]:
index[0]

'A'

In [9]:
index[0]= 'Z'

TypeError: Index does not support mutable operations

In [14]:
randn(2,2)

array([[-0.01136678, -0.88083359],
       [ 0.30258671,  0.17298296]])

In [15]:
new = Series([1,2,3,6], index=['A','B','C','D'])

In [16]:
new

A    1
B    2
C    3
D    6
dtype: int64

In [17]:
ser2 = new.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    6.0
E    NaN
F    NaN
dtype: float64

In [19]:
ser2.reindex(['A','B','C','D','E','F','LeBc'],fill_value=24)

A        1.0
B        2.0
C        3.0
D        6.0
E        NaN
F        NaN
LeBc    24.0
dtype: float64

In [23]:
ser3= Series(['USA','Mexico'],index=[2,5])
ser3

2       USA
5    Mexico
dtype: object

In [25]:
ser3.reindex(range(15),method='ffill')

0        NaN
1        NaN
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Mexico
11    Mexico
12    Mexico
13    Mexico
14    Mexico
dtype: object

In [26]:
dframe= DataFrame(randn(25).reshape((5,5)), index=['A','B','C','D','E'],columns=['Oye','Dekh','Ye','Kya','Hai'])

In [27]:
dframe

        Oye      Dekh        Ye       Kya       Hai
A -0.047114  0.045439  0.414913  1.622880  0.285413
B  0.803873  0.832606  0.539545 -0.007149 -0.228275
C -0.655069  0.876953  0.660284 -1.036215  1.880319
D -1.236647 -0.996723  0.350352  0.393454  0.145908
E -0.254550 -1.201058 -0.393240 -1.256261  0.833576

In [28]:
dframe2 = dframe.reindex(['A','B','C','p','D','E'])

In [29]:
dframe2

        Oye      Dekh        Ye       Kya       Hai
A -0.047114  0.045439  0.414913  1.622880  0.285413
B  0.803873  0.832606  0.539545 -0.007149 -0.228275
C -0.655069  0.876953  0.660284 -1.036215  1.880319
p       NaN       NaN       NaN       NaN       NaN
D -1.236647 -0.996723  0.350352  0.393454  0.145908
E -0.254550 -1.201058 -0.393240 -1.256261  0.833576

In [32]:
colo = ['Oye','Dekh','Ye','Kya','Hai','Add']

In [33]:
dframe2.reindex(columns=colo)

        Oye      Dekh        Ye       Kya       Hai  Add
A -0.047114  0.045439  0.414913  1.622880  0.285413  NaN
B  0.803873  0.832606  0.539545 -0.007149 -0.228275  NaN
C -0.655069  0.876953  0.660284 -1.036215  1.880319  NaN
p       NaN       NaN       NaN       NaN       NaN  NaN
D -1.236647 -0.996723  0.350352  0.393454  0.145908  NaN
E -0.254550 -1.201058 -0.393240 -1.256261  0.833576  NaN