In [1]:
import numpy as np
from pandas import DataFrame,Series
import pandas as pd

In [2]:
data = Series(['a','s','d',np.nan])

In [3]:
data

0      a
1      s
2      d
3    NaN
dtype: object

In [4]:
data.isnull()

0    False
1    False
2    False
3     True
dtype: bool

In [6]:
df = DataFrame([[1,2,3],[np.nan,5,6],[7,np.nan,9],[np.nan,np.nan,np.nan]])

In [7]:
df

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [8]:
clean= df.dropna()

In [9]:
clean

     0    1    2
0  1.0  2.0  3.0

In [10]:
df.dropna(how='all')

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0

In [13]:
df.dropna(1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [14]:
npn=np.nan
df2= DataFrame([[1,2,3,npn],[np.nan,npn,5,6],[7,np.nan,9,npn],[np.n an,npn,np.nan,np.nan]])

In [15]:
df2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  NaN  NaN  5.0  6.0
2  7.0  NaN  9.0  NaN
3  NaN  NaN  NaN  NaN

In [17]:
df2.dropna(thresh=2)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  NaN  NaN  5.0  6.0
2  7.0  NaN  9.0  NaN

In [19]:
df2.fillna({0:798,1:878,2:252,3:636}) #filliing column with given values

       0      1      2      3
0    1.0    2.0    3.0  636.0
1  798.0  878.0    5.0    6.0
2    7.0  878.0    9.0  636.0
3  798.0  878.0  252.0  636.0