In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [5]:
df=DataFrame(np.arange(12).reshape(3,4),index=list('OKY'),columns=list('XLPU'))

In [6]:
df

   X  L   P   U
O  0  1   2   3
K  4  5   6   7
Y  8  9  10  11

In [7]:
df.index.map(str.lower)

Index([u'o', u'k', u'y'], dtype='object')

In [9]:
df.index= df.index.map(str.lower)

In [10]:
df

   X  L   P   U
o  0  1   2   3
k  4  5   6   7
y  8  9  10  11