In [3]:
import numpy as np

from pandas import Series,DataFrame
import pandas as pd

In [4]:

obj = Series([3,6,9,12])

#Show
obj

0     3
1     6
2     9
3    12
dtype: int64

In [5]:
obj.values

array([ 3,  6,  9, 12])

In [6]:
ww2_cas = Series([8700000,4300000,3000000,2100000,400000],index=['USSR','Germany','China','Japan','USA'])

#Show
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [8]:
ww2_cas['China']

3000000

In [9]:
ww2_cas[ww2_cas>4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [14]:
ww2_cas[ww2_cas.values >200000]

USSR       8700000
Germany    4300000
China      3000000
Japan      2100000
USA         400000
dtype: int64

In [15]:
'USSR' in ww2_cas

True

In [16]:


#Can convert Series into Python dictionary
ww2_dict = ww2_cas.to_dict()

#Show
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2100000,
 'USA': 400000,
 'USSR': 8700000}

In [17]:
WW2_Series = Series(ww2_dict)

In [18]:
#Passing a dictionary the index will have the dict keys in order
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [20]:
#Lets redefine a Series
obj2 = Series(ww2_dict,index=countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA           400000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [21]:
#We can use isnull and notnull to find missing data
pd.isnull(obj2)

#obj2.isnull()

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [32]:
obj2['USA'] = None

In [33]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA           True
USSR         False
Argentina     True
dtype: bool

In [34]:
WW2_Series

China      3000000
Germany    4300000
Japan      2100000
USA         400000
USSR       8700000
dtype: int64

In [35]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA                NaN
USSR         8700000.0
Argentina          NaN
dtype: float64

In [37]:
obj2 + WW2_Series

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4200000.0
USA                 NaN
USSR         17400000.0
dtype: float64

In [38]:
#We can give Series names
obj2.name = "World War 2 Casualties"
obj2

China        3000000.0
Germany      4300000.0
Japan        2100000.0
USA                NaN
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [39]:
#We can also name index
obj2.index.name = 'Countries'

In [43]:
obj2['Countr']='Okay'

In [44]:
obj2

Countries
China          3e+06
Germany      4.3e+06
Japan        2.1e+06
USA              NaN
USSR         8.7e+06
Argentina        NaN
Countries       Okay
Countr          Okay
Name: World War 2 Casualties, dtype: object

In [51]:
obj2.values

array([3000000.0, 4300000.0, 2100000.0, nan, 8700000.0, nan, 'Okay', 'Okay'], dtype=object)

In [60]:
obj2[obj2.values == 1]

Series([], Name: World War 2 Casualties, dtype: object)